bookstore1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="C:/Users/Lenovo/Desktop/Journey/WebDevelopment/bookstore1.xml"
xmlns="C:/Users/Lenovo/Desktop/Journey/WebDevelopment/bookstore1.xml"
elementFormDefault="qualified">

<xs:element name="bookstore1">
    <xs:complexType>
    <xs:sequence>
    <xs:element name ="bookname" type="xs:string"/>
    <xs:element name ="author" type="xs:string"/>
     <xs:element name ="price" type="xs:string"/>
     </xs:sequence>
     </xs:complexType>
     </xs:element>

</xs:schema>
    
